@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
	--color-blanco:#FFF;
	--color-verde:#34c15f;
	--color-azul:#30a0d8;
	--color-negro: #000;
}

body{
	color: var(--color-blanco);
	font-family: "Futura Bk", "Roboto";
	font-size: 16px;
}

header{
	background-color: var(--color-verde);
	padding: 5px 0;
}

header p{
	text-align: end;
	margin: 0px;
	font-weight: 700;
	font-size: 20px;
	color: #fff;
}

.offcanvas{
	background-color: var(--color-verde);
}

.navbar-toggler:focus{
	text-decoration: none;
    outline: 0;
    box-shadow: none!important;
}

.menu-header-index{
	font-size: 20px;
	border: 0;
}

#hero{
	background-image: url("../img/inicio-honduras-principal.jpg");
	background-position: center;
	background-size: cover;
	padding: 24% 0 7%;
}

#hero p{
	margin-right: 50%;
	font-size: 20px;
	font-weight: 700;
}

#hero h1{
	font-size: 80px;
	font-weight: 900;
}

#lugares-destacados{
	padding: 10% 0;
}

#lugares-destacados p{
	padding-top: 75%;
	padding-bottom: 10px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

#lugares-destacados h4{
	padding-top: 15px;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
}

#lugares-destacados .tela{
	background-image: url("../img/inicio-tela.jpg");
	background-position: center;
	background-size: cover;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 45px 0;
	margin: 0 5%;
	border-radius: 50px;
	cursor: pointer;
}

#lugares-destacados .copan{
	background-image: url("../img/inicio-copan.jpg");
	background-position: center;
	background-size: cover;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 45px 0;
	margin: 0 5%;
	border-radius: 50px;
	cursor: pointer;
}

#lugares-destacados .roatan{
	background-image: url("../img/inicio-roatan.jpg");
	background-position: center;
	background-size: cover;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 45px 0;
	margin: 0 5%;
	border-radius: 50px;
	cursor: pointer;
}

#ciudad-blanca{
	background-image: url("../img/inicio-ciudad-blanca.jpg");
	background-position: center;
	background-size: cover;
	padding: 100px 0;
	text-align: left;
}

#ciudad-blanca h2{
	font-size: 78px;
	font-weight: 900;
}

#ciudad-blanca p{
	margin-right: 25%;
}

#arrecifes-coral{
	background-image: url("../img/inicio-arrecife-de-coral.jpg");
	background-position: center;
	background-size: cover;
	padding: 100px 0;
	text-align: right;
	margin-bottom: 10%;
}

#arrecifes-coral h2{
	font-size: 78px;
	font-weight: 900;
}

#arrecifes-coral p{
	margin-left: 25%;
}

footer{
	background-color: var(--color-verde);
	padding: 3% 0;
}

footer .insta{
	margin: 5px 0;
}

.footer3{
	text-align: right;
	font-weight: 200;
}

.p-final-principal{
	font-size: 20px;
	font-weight: 900;
}

.acercade{
	font-size: 15px;
	font-weight: 700;
}

.com{
	font-size: 10px;
	font-weight: 600;
}

/*Datos para pagina DESTINOS*/

#header-destinos{
	background-color: #fff;
	color: var(--color-verde);
	margin-top: 10px;
}

#header-destinos h1{
	text-align: center;
	font-size: 70px;
	font-weight: 700;
	padding-top: 50px;
	padding-bottom: 30px;
}

#header-destinos p{
	color: var(--color-verde);
	font-weight: 700;
	font-size: 20px;
	padding-top: 48px;
}

#destinos{
	color: var(--color-negro);
	padding-bottom: 75px;
}

#destinos .d-siguatepeque{
	background-image: url("../img/d-siguatepeque.jpg");
	background-position: center;
	background-size: cover;
	padding: 100px 0;
	margin: 0 50px;
	border-radius: 50px;
}

#destinos .d-tegucigalpa{
	background-image: url("../img/d-tegucigalpa.jpg");
	background-position: center;
	background-size: cover;
	padding: 100px 0;
	margin: 0 50px;
	border-radius: 50px;
}

#destinos .d-sps{
	background-image: url("../img/d-san-pedro-sula.jpg");
	background-position: center;
	background-size: cover;
	padding: 100px 0;
	margin: 0 50px;
	border-radius: 50px;
}

#destinos .d-coyolito{
	background-image: url("../img/d-coyolito.jpg");
	background-position: center;
	background-size: cover;
	padding: 100px 0;
	margin: 0 50px;
	border-radius: 50px;
}

#destinos .d-tela{
	background-image: url("../img/d-tela.jpg");
	background-position: center;
	background-size: cover;
	padding: 100px 0;
	margin: 0 50px;
	border-radius: 50px;
}

#destinos .d-utila{
	background-image: url("../img/d-utila.jpg");
	background-position: center;
	background-size: cover;
	padding: 100px 0;
	margin: 0 50px;
	border-radius: 50px;
}

#destinos .d-roatan{
	background-image: url("../img/d-roatan.jpg");
	background-position: center;
	background-size: cover;
	padding: 100px 0;
	margin: 0 50px;
	border-radius: 50px;
}

#destinos .d-lagoyojoa{
	background-image: url("../img/d-lago-yojoa.jpg");
	background-position: center;
	background-size: cover;
	padding: 100px 0;
	margin: 0 50px;
	border-radius: 50px;
}

#destinos .d-santabarbara{
	background-image: url("../img/d-santa-barbara.jpg");
	background-position: center;
	background-size: cover;
	padding: 100px 0;
	margin: 0 50px;
	border-radius: 50px;
}

.d-texto{
	padding-top: 50px;
}

.d-titulos{
	font-size: 25px;
	font-weight: 900;
	padding: 15px 0 0;
}

/*Datos para pagina ACTIVIDADES*/

#header-actividades{
	background-color: #fff;
	color: var(--color-azul);
	margin-top: 10px;
}

#header-actividades h1{
	text-align: center;
	font-size: 70px;
	font-weight: 700;
	padding-top: 50px;
	padding-bottom: 30px;
}

#header-actividades p{
	color: var(--color-azul);
	font-weight: 700;
	font-size: 20px;
	padding-top: 48px;
}

#actividades{
	padding: 25px 0 150px!important;
}

#actividades p{
	padding: 0 30px;
	padding-top: 75%;
	padding-bottom: 10px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

#actividades h4{
	padding-top: 15px;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
}

#actividades a{
	text-decoration: none;
}

#actividades .act-airelibre{
	background-image: url("../img/airelibre7-portada.jpg");
	background-position: center;
	background-size: cover;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 45px 0;
	margin: 0 5%;
	border-radius: 50px;
	cursor: pointer;
}

#actividades .act-comida{
	background-image: url("../img/comida10-portada.jpg");
	background-position: center;
	background-size: cover;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 45px 0;
	margin: 0 5%;
	border-radius: 50px;
	cursor: pointer;
}

#actividades .act-arte{
	background-image: url("../img/arte-portada.jpg");
	background-position: center;
	background-size: cover;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 45px 0;
	margin: 0 5%;
	border-radius: 50px;
	cursor: pointer;
}

/*Datos para pagina AL AIRE LIBRE*/

#header-airelibre{
	background-color: #fff;
	color: var(--color-azul);
	margin-top: 10px;
}

#header-airelibre h1{
	text-align: center;
	font-size: 70px;
	font-weight: 700;
	padding-top: 50px;
	padding-bottom: 30px;
}

#header-airelibre p{
	color: var(--color-azul);
	font-weight: 700;
	font-size: 20px;
	padding-top: 48px;
}

#airelibre .airelibre1{
	background-image: url("../img/airelibre1.jpg");
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	width: 300px;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 100px 0;
	border-radius: 50px;
}

#airelibre .airelibre2{
	background-image: url("../img/airelibre2.jpg");
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	width: 300px;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 100px 0;
	border-radius: 50px;
}

#airelibre .airelibre3{
	background-image: url("../img/airelibre3.jpg");
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	width: 300px;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 100px 0;
	border-radius: 50px;
}

#airelibre .airelibre4{
	background-image: url("../img/airelibre4.jpg");
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	width: 300px;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 100px 0;
	border-radius: 50px;
}

#airelibre .airelibre5{
	background-image: url("../img/airelibre5.jpg");
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	width: 300px;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 100px 0;
	margin-top: 50px;
	border-radius: 50px;
}

#airelibre .airelibre6{
	background-image: url("../img/airelibre6.jpg");
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	width: 300px;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 100px 0;
	margin-top: 50px;
	border-radius: 50px;
}

#airelibre .airelibre7{
	background-image: url("../img/airelibre7-portada.jpg");
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	width: 300px;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 100px 0;
	margin-top: 50px;
	border-radius: 50px;
}

#airelibre .airelibre8{
	background-image: url("../img/airelibre8.jpg");
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	width: 300px;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 100px 0;
	margin-top: 50px;
	border-radius: 50px;
}

#airelibre .airelibre9{
	background-image: url("../img/airelibre9.jpg");
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	width: 300px;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 100px 0;
	margin-top: 50px;
	margin-bottom: 90px;
	border-radius: 50px;
}

#airelibre .airelibre10{
	background-image: url("../img/airelibre10.jpg");
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	width: 300px;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 100px 0;
	margin-top: 50px;
	margin-bottom: 90px;
	border-radius: 50px;
}

#airelibre .airelibre11{
	background-image: url("../img/airelibre11.jpg");
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	width: 300px;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 100px 0;
	margin-top: 50px;
	margin-bottom: 90px;
	border-radius: 50px;
}

#airelibre .airelibre12{
	background-image: url("../img/airelibre12.jpg");
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	width: 300px;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 100px 0;
	margin-top: 50px;
	margin-bottom: 90px;
	border-radius: 50px;
}

/*Datos para pagina COMIDA*/

#header-comida{
	background-color: #fff;
	color: var(--color-azul);
	margin-top: 10px;
}

#header-comida h1{
	text-align: center;
	font-size: 70px;
	font-weight: 700;
	padding-top: 50px;
	padding-bottom: 30px;
}

#header-comida p{
	color: var(--color-azul);
	font-weight: 700;
	font-size: 20px;
	padding-top: 48px;
}

#comida .comida1{
	background-image: url("../img/comida1.jpg");
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	width: 300px;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 100px 0;
	border-radius: 50px;
}

#comida .comida2{
	background-image: url("../img/comida2.jpg");
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	width: 300px;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 100px 0;
	border-radius: 50px;
}

#comida .comida3{
	background-image: url("../img/comida3.jpg");
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	width: 300px;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 100px 0;
	border-radius: 50px;
}

#comida .comida4{
	background-image: url("../img/comida4.jpg");
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	width: 300px;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 100px 0;
	border-radius: 50px;
}

#comida .comida5{
	background-image: url("../img/comida5.jpg");
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	width: 300px;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 100px 0;
	margin-top: 50px;
	border-radius: 50px;
}

#comida .comida6{
	background-image: url("../img/comida6.jpg");
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	width: 300px;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 100px 0;
	margin-top: 50px;
	border-radius: 50px;
}

#comida .comida7{
	background-image: url("../img/comida7.jpg");
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	width: 300px;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 100px 0;
	margin-top: 50px;
	border-radius: 50px;
}

#comida .comida8{
	background-image: url("../img/comida8.jpg");
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	width: 300px;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 100px 0;
	margin-top: 50px;
	border-radius: 50px;
}

#comida .comida9{
	background-image: url("../img/comida9.jpg");
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	width: 300px;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 100px 0;
	margin-top: 50px;
	margin-bottom: 90px;
	border-radius: 50px;
}

#comida .comida10{
	background-image: url("../img/comida10-portada.jpg");
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	width: 300px;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 100px 0;
	margin-top: 50px;
	margin-bottom: 90px;
	border-radius: 50px;
}

#comida .comida11{
	background-image: url("../img/comida11.jpg");
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	width: 300px;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 100px 0;
	margin-top: 50px;
	margin-bottom: 90px;
	border-radius: 50px;
}

#comida .comida12{
	background-image: url("../img/comida12.jpg");
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	width: 300px;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 100px 0;
	margin-top: 50px;
	margin-bottom: 90px;
	border-radius: 50px;
}

/*Datos para pagina ARTE*/

#header-arte{
	background-color: #fff;
	color: var(--color-azul);
	margin-top: 10px;
}

#header-arte h1{
	text-align: center;
	font-size: 70px;
	font-weight: 700;
	padding-top: 50px;
	padding-bottom: 30px;
}

#header-arte p{
	color: var(--color-azul);
	font-weight: 700;
	font-size: 20px;
	padding-top: 48px;
}

#arte .arte1{
	background-image: url("../img/arte1.jpg");
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	width: 300px;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 100px 0;
	border-radius: 50px;
}

#arte .arte2{
	background-image: url("../img/arte2.jpg");
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	width: 300px;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 100px 0;
	border-radius: 50px;
}

#arte .arte3{
	background-image: url("../img/arte3.jpg");
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	width: 300px;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 100px 0;
	border-radius: 50px;
}

#arte .arte4{
	background-image: url("../img/arte4.jpg");
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	width: 300px;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 100px 0;
	border-radius: 50px;
}

#arte .arte5{
	background-image: url("../img/arte5.jpg");
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	width: 300px;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 100px 0;
	margin-top: 50px;
	border-radius: 50px;
}

#arte .arte6{
	background-image: url("../img/arte6.jpg");
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	width: 300px;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 100px 0;
	margin-top: 50px;
	border-radius: 50px;
}

#arte .arte7{
	background-image: url("../img/arte7.jpg");
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	width: 300px;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 100px 0;
	margin-top: 50px;
	border-radius: 50px;
}

#arte .arte8{
	background-image: url("../img/arte8.jpeg");
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	width: 300px;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 100px 0;
	margin-top: 50px;
	border-radius: 50px;
}

#arte .arte9{
	background-image: url("../img/arte9.jpg");
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	width: 300px;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 100px 0;
	margin-top: 50px;
	margin-bottom: 90px;
	border-radius: 50px;
}

#arte .arte10{
	background-image: url("../img/arte10.jpg");
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	width: 300px;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 100px 0;
	margin-top: 50px;
	margin-bottom: 90px;
	border-radius: 50px;
}

#arte .arte11{
	background-image: url("../img/arte11.jpg");
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	width: 300px;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 100px 0;
	margin-top: 50px;
	margin-bottom: 90px;
	border-radius: 50px;
}

#arte .arte12{
	background-image: url("../img/arte12.jpg");
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	width: 300px;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 100px 0;
	margin-top: 50px;
	margin-bottom: 90px;
	border-radius: 50px;
}

#header-hoteles{
	background-color: #fff;
	color: var(--color-verde);
	margin-top: 10px;
}
#header-hoteles h1{
	text-align: center;
	font-size: 70px;
	font-weight: 700;
	padding-top: 50px;
	padding-bottom: 30px;
}

#header-hoteles p{
	color: var(--color-verde);
	font-weight: 700;
	font-size: 20px;
	padding-top: 48px;
}

#hoteles{
	padding: 5% 0;
}
#hoteles h4{
	padding-top: 15px;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
}

#hoteles .h-tegucigalpa{
	background-image: url("../img/hotel-tegucigalpa.jpg");
	background-position: center;
	background-size: cover;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 70px 0;
	margin: 0 5%;
	border-radius: 50px;
	cursor: pointer;
}

#hoteles .h-sanpedrosula{
	background-image: url("../img/hotel-san-pedro-sula.jpg");
	background-position: center;
	background-size: cover;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 70px 0;
	margin: 0 5%;
	border-radius: 50px;
	cursor: pointer;
}

#hoteles .h-roatan{
	background-image: url("../img/hotel-roatan.jpg");
	background-position: center;
	background-size: cover;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 70px 0;
	margin: 0 5%;
	border-radius: 50px;
	cursor: pointer;
}

#hoteles .h-utila{
	background-image: url("../img/hotel-utila.jpg");
	background-position: center;
	background-size: cover;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 70px 0;
	margin: 0 5%;
	border-radius: 50px;
	cursor: pointer;
}
#hoteles-2{
	padding: 5% 0;
}

#hoteles-2 h4{
	padding-top: 15px;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
}

#hoteles-2 .h-comayagua{
	background-image: url("../img/hotel-comayagua.jpg");
	background-position: center;
	background-size: cover;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 70px 0;
	margin: 0 5%;
	border-radius: 50px;
	cursor: pointer;
}

#hoteles-2 .h-tela{
	background-image: url("../img/hotel-tela.jpg");
	background-position: center;
	background-size: cover;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 70px 0;
	margin: 0 5%;
	border-radius: 50px;
	cursor: pointer;
}

#hoteles-2 .h-laceiba{
	background-image: url("../img/hotel-la-ceiba.jpg");
	background-position: center;
	background-size: cover;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 70px 0;
	margin: 0 5%;
	border-radius: 50px;
	cursor: pointer;
}

#hoteles-2 .h-laesperanza{
	background-image: url("../img/hotel-la-esperanza.jpeg");
	background-position: center;
	background-size: cover;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 70px 0;
	margin: 0 5%;
	border-radius: 50px;
	cursor: pointer;
}

#hoteles-3{
	padding: 5% 0;
}
#hoteles-3 h4{
	padding-top: 15px;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
}

#hoteles-3 .h-puertocortes{
	background-image: url("../img/hotel-puerto-cortes.jpg");
	background-position: center;
	background-size: cover;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 70px 0;
	margin: 0 5%;
	border-radius: 50px;
	cursor: pointer;
}

#hoteles-3 .h-elprogreso{
	background-image: url("../img/hotel-el-progreso.jpg");
	background-position: center;
	background-size: cover;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 70px 0;
	margin: 0 5%;
	border-radius: 50px;
	cursor: pointer;
}

#hoteles-3 .h-gracias{
	background-image: url("../img/hotel-gracias.jpg");
	background-position: center;
	background-size: cover;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 70px 0;
	margin: 0 5%;
	border-radius: 50px;
	cursor: pointer;
}

#hoteles-3 .h-amapala{
	background-image: url("../img/hotel-amapala.jpg");
	background-position: center;
	background-size: cover;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 70px 0;
	margin: 0 5%;
	border-radius: 50px;
	cursor: pointer;
}
#hoteles-4{
	padding: 5% 0;
}
#hoteles-4 h4{
	padding-top: 15px;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
}

#hoteles-4 .h-omoa{
	background-image: url("../img/hotel-omoa.jpg");
	background-position: center;
	background-size: cover;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 70px 0;
	margin: 0 5%;
	border-radius: 50px;
	cursor: pointer;
	
}

#hoteles-4 .h-trujillo{
	background-image: url("../img/hotel-trujillo.jpg");
	background-position: center;
	background-size: cover;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 70px 0;
	margin: 0 5%;
	border-radius: 50px;
	cursor: pointer;
}

#hoteles-4 .h-choluteca{
	background-image: url("../img/hotel-choluteca.jpg");
	background-position: center;
	background-size: cover;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 70px 0;
	margin: 0 5%;
	border-radius: 50px;
	cursor: pointer;
}

#hoteles-4 .h-sambocreek{
	background-image: url("../img/hotel-sambo-creek.jpg");
	background-position: center;
	background-size: cover;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 70px 0;
	margin: 0 5%;
	border-radius: 50px;
	cursor: pointer;
}

#hoteles-5{
	padding: 5% 0;
	padding-bottom: 10%;
}
#hoteles-5 h4{
	padding-top: 15px;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
}

#hoteles-5 .h-lacampa{
	background-image: url("../img/hotel-la-campa.jpg");
	background-position: center;
	background-size: cover;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 70px 0;
	margin: 0 5%;
	border-radius: 50px;
	cursor: pointer;
}

#hoteles-5 .h-talgua{
	background-image: url("../img/hotel-talgua.jpg");
	background-position: center;
	background-size: cover;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 70px 0;
	margin: 0 5%;
	border-radius: 50px;
	cursor: pointer;
}

#hoteles-5 .h-launion{
	background-image: url("../img/hotel-la-union.jpg");
	background-position: center;
	background-size: cover;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 70px 0;
	margin: 0 5%;
	border-radius: 50px;
	cursor: pointer;
}

#hoteles-5 .h-siguatepeque{
	background-image: url("../img/hotel-siguatepeque.jpg");
	background-position: center;
	background-size: cover;
	box-shadow: 0px 0px 12px 7px #d4d4d4;
	padding: 70px 0;
	margin: 0 5%;
	border-radius: 50px;
	cursor: pointer;
}

/*Datos para pagina ARTE*/

#header-contact{
	background-color: #fff;
	color: var(--color-verde);
	margin-top: 10px;
}

#header-contact h1{
	text-align: center;
	font-size: 70px;
	font-weight: 700;
	padding-top: 50px;
	padding-bottom: 30px;
}

#header-contact p{
	color: var(--color-verde);
	font-weight: 700;
	font-size: 20px;
	padding-top: 48px;
}

#contact
{
	margin: 30px 200px;
}

#contact p
{
	color: var(--color-verde);
	
}

/*EXTRAS*/
.fondo-verde{
	background-color: var(--color-verde);
}

.fondo-azul{
	background-color: var(--color-azul);
}

.heres{
	background-color: var(--color-verde);
    border: none; 
    height: 3px; 
}

.iconos{
	font-size: 30px;
}